<div class="custom-container">
	<div class="container">
		<h3>{{recipe_title}}</h3>
		<ul class="recipe_details">
			<li>By {{contributor}}}</li>
			<li>Category: {{category}}</li>
			<li>Rating: {{rating}}</li>
			<li>Source: {{source}}</li>
			<li>Recipe id: {{_id}}</li>
		</ul>

		<h4>Spices</h4>
		<ul class="collection">
			{{#each ingredients}}
				<li class="collection-item">{{this}}</li>
			{{/each}}
		</ul>

		<h4>Ingredients</h4>
		<ul class="collection">
			{{#each ingredients}}
				<li class="collection-item">{{this}}</li>
			{{/each}}
		</ul>

		<h4>Description</h4>
		<p>
			{{description}}
		</p>
	</div>
</div>